body {
    background: rgba(0, 0, 170, 0.8);
    color: white;
  }
  
  .main {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  th {
    font-weight: bold;
  }
  
  .center {
    text-align: center;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .padding {
    padding: 10px;
  }
  
  .margin {
    margin: 20px;
  }
  
  .green {
    background-color: #000000;
  }

  h1, h2, h3, h4 {
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0px;
  }